* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: blanchedalmond;
}

.navbar-dark {
  background-color: #e47a64 !important;
  border-width:0!important;
}

.navbar {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem !important;
  font-weight: bold;
}

.navbar-brand {
  font-size: 1rem !important;
  padding-right: 4px;
  border-right: solid rgb(197, 166, 166);
}


.cardHighlight {
  min-height: 100%;
}

.cardUserview{
  min-height: 100%;
}


.navbar-dark {
    background-color: #e47a64 !important;
    border: none !important;
    border-width:0!important;
}

.navbar {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem !important;
}

.navbar-brand {
  font-size: 2rem !important;
}
